.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  
  height: 70px;
  width: 150px;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: lightskyblue;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.form-check-input:checked {
  box-shadow: 0 0 5px 2px #fff, 0 0 15px 4px rgba(100, 100, 100, 0.1), 0 0 20px 6px rgba(200, 200, 200, 0.5);
}
